:root {
    --main-light-gray: #f9f9f9;
    --text-color: black;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-light-gray);
    font-family: "Montserrat", sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0.8rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c4c4c4;
}

header li {
    display: inline;
    margin: 0 1rem;
    font-weight: 600;
    list-style: none;
}

header li a {
    transition: background-color 0.5s ease;
    text-decoration: none;
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 8px;
}

header li a:hover {
    background-color: #dd8888;
    color: #871818;
}

.logo {
    display: flex;
    align-items: center;
}

.logo i {
    font-size: 2.2rem;
    color: var(--text-color);
    margin-right: 1rem;
}

.logo p {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.nav-div {
    flex-grow: 1;
    text-align: center;
    display: flex;
    justify-content: flex-end;
}

.nav-list {
    display: flex;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #c4c4c4;
    background-image: linear-gradient(65deg, #eeeded,#756f6f);
}

@media (max-width:600px) {
    .logo {
        width: 100%;
        margin-bottom: 1rem;
    }

    .nav-div {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    nav ul {
        display: block;
        margin: 0;
        text-align: center;
    }

    .navbar {
        display: block;
        justify-content: center;
        padding-bottom: 1rem;
    }

    .separador {
        margin-top: 7rem;
    }
}